.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}
.departments-text {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-right: 14px;
}

.pill {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #ddd;
  cursor: pointer;
}
.pill:not(.pill--dev):hover {
  background-color: #ccc;
}

.pill--dev {
  background-color: #e8cbe9;
  color: black;
  font-weight: bold;
}
.pill:not(.pill--design):hover {
  background-color: #ccc;
}

.pill--design {
  background-color: #cec2eb;
  color: black;
  font-weight: bold;
}
.pill:not(.pill--vid):hover {
  background-color: #ccc;
}

.pill--vid {
  background-color: #e9cac9;
  color: black;
  font-weight: bold;
}
.pill:not(.pill--it):hover {
  background-color: #ccc;
}

.pill--it {
  background-color: #c8e4e9;
  color: black;
  font-weight: bold;
}
.pill--design {
  color: black;
  border: 0.5px solid black;
}
.pill--dev {
  color: black;
  border: 0.5px solid black;
}
.pill--vid {
  color: black;
  border: 0.5px solid black;
}
.pill--it {
  color: black;
  border: 0.5px solid black;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  padding: 10px;
}

table thead th {
  background-color: #bde3d0;
  color: black;
  text-align: center;
}

table tbody td {
  padding: 10px;
  border: 1px solid #ececec;
  vertical-align: top;
  text-align: center; /* Center content within the table cell */
}
/* General Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px; /* Default padding */
}

table thead th {
  background-color: #bde3d0;
  color: black;
  text-align: center;
}

table tbody td {
  padding: 10px;
  border: 1px solid #ececec;
  vertical-align: middle; 
  text-align: center; 
}

/* Custom padding for specific columns */
table tbody td:nth-child(1), 
table tbody td:nth-child(2), 
table thead th:nth-child(1), 
table thead th:nth-child(2)   {
  padding-left: 20px; 
  padding-right: 20px; 
  vertical-align: middle; 
}
/*select button colors*/
.pill--select {
  background-color: #bde3d0;
  color: black;
  border: 0.5px solid black;
  font-weight: bold;
}
.pill--select:hover {
  background-color: #bde3d0;
}

.pill--selected {
  background-color: #bde3d0;
  color: black;
  border: 0.5px solid black;
  font-weight: bold;
}
.pill--select:hover {
  background-color: #bde3d0;
}