body {
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  font-family: Outfit, sans-serif;
  position: relative;
  width: 100%;
  font-style: normal;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bde3d0;
  gap: 20px;
}

footer img {
  width: 30px;
  height: 30px;
}

.outfit-header-font {
  font-family: Outfit, sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bde3d0;
  width: 100%;
}
.logo {
  padding: 20px;
  align-self: center;
}

#desktop-logo {
  display: block;
  width: 150px;
}

#mobile-logo {
  display: none;
}

.header-spacer {
  width: 150px;
  padding: 20px;
  align-self: center;
}

header h1 {
  font-family: Outfit, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: #2a2e33;
}

@media screen and (width <= 550px) {
  #desktop-logo {
    display: none;
  }

  #mobile-logo {
    display: block;
    width: 50px;
  }

  .logo {
    padding: 20px;
  }

  .header-spacer {
    width: 50px;
    padding: 20px;
    align-self: center;
  }

  footer img {
    width: 35px;
    height: 35px;
  }
}
